.character-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80vw;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 5vw;
  /* margin-right: 5vw; */
  list-style-type: none;
  border-radius: 10px;
  background-color: #6f0000;
  box-shadow: 10px 5px 5px rgb(141, 59, 59);
}

.character-nav:hover {
  background-color: #7a1111;
  filter: none;
}

.crumb-button {
  color: #6f0000;
}
.quickview-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.view-title {
  display: flex;
  justify-content: center;
  border-bottom: black;
}

.overview-main {
  display: flex;
  justify-content: center;
  margin-left: 25vw;
  /* margin-right: 10vw; */
  width: 50vw;
  height: 40vh;
  /* border: solid rgb(200, 123, 123) 3px; */
  border-radius: 1em;
  border-radius: 1em;
  background-color: rgb(172, 98, 98);
  box-shadow: 6px 5px 5px rgb(141, 59, 59);
}

.avatar-img {
  width: 200px;
  height: 150px;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
  border-radius: 0.75em;
  box-shadow: 6px 5px 5px rgb(141, 59, 59);
}

.avatar-img:hover {
  box-shadow: 4px 5px 5px rgba(131, 57, 57, 0.472);
}

div > img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
}

.abp-div {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* .img-info-div {
  position: relative;
  display: flex;
  flex-direction: row;
} */

.overview-internal {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.img-info-div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.img-info-cont {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: center;
}

.abp-unit {
  border-radius: 1em;
  background-color: #ac6262;
  box-shadow: 6px 5px 5px rgb(141, 59, 59);
  transition: all 0.2s ease-out 0s;
}

.abp-unit:hover {
  background-color: rgb(189, 127, 127);
  box-shadow: 6px 5px 5px rgb(177, 125, 125);
}

.abp-row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.ab-unit-info {
  display: flex;
  justify-content: center;
  margin: 5px;
}

/* a {
  text-decoration: none;
  color: black;
  border: solid;
  padding: 3px;
  border-color: darkgrey;
  background-color: darkgrey;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: rgb(255, 255, 255);
}*/
